{% extends "blog/base.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

<article>
    <h1>{{ post.title }}</h1>

    <p>
        {{ post.author.username }}
        ·
        {{ post.created_at|date:"d/m/Y H:i" }}
    </p>

    {% if post.category %}
        <a href="{% url 'blog:category_post_list' post.category.slug %}">
            {{ post.category.name }}
        </a>
    {% endif %}

    <div>
        {{ post.content|linebreaks }}
    </div>
</article>

{% endblock %}