{% extends "blog/base.html" %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Blog
    {% endif %}
{% endblock %}

{% block content %}

    {% if category %}
        <h1>{{ category.name }}</h1>
    {% else %}
        <h1>Bài viết mới nhất</h1>
    {% endif %}

    {% for post in posts %}
        <article>
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h2>

            <p>
                {{ post.author.username }}
                ·
                {{ post.created_at|date:"d/m/Y" }}
            </p>

            {% if post.category %}
                <a href="{% url 'blog:category_post_list' post.category.slug %}">
                    {{ post.category.name }}
                </a>
            {% endif %}

            <p>
                {{ post.content|truncatewords:30 }}
            </p>
        </article>
    {% empty %}
        <p>Chưa có bài viết.</p>
    {% endfor %}

{% endblock %}